<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper grey lighten-1">
      <p class="brand-logo">Dwayne Blog　<span class="subtitle">〜If you smell what The Rock is cookin'!〜</span</p>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <% unless user_signed_in? %>
            <%= link_to 'Sign-In', new_user_session_path, method: :get %></li>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to 'Sign-Out', destroy_user_session_path, method: :delete %></li>
          <% end %>
        <li>
          <% if user_signed_in? %>
            <%= link_to '投稿する', new_user_article_path(current_user.id), method: :get %></li>
          <% end %>
      </ul>
    </div>
  </nav>
  <%= image_tag "dwayne1.png", style: "width:100vw", class: "dwayne1"%></div>
  <%= yield %>
</body>
</html>
